.sidebarFooter {
  background-color: #f8f9fb;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 16px;
  border-bottom: 1px solid #c4ced7;
}

.organizationInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.orgName {
  font-size: 18px;
  font-weight: 600;
}

.logoutButton,
.resetPasswordButton,
.changeOrgButton {
  font-size: 14px;
  border-radius: 0px;
  background-color: #eef0f3;
}

.containerInner {
  display: flex; 
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.header {
  padding: 6px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); 
}

.role,
.email {
  font-size: 14px;
}

.imgButton {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgButton img {
  width: 24px;
  height: 24px;
}